env:
  global:
  - PERL5LIB=/usr/share/perl5
language: python
dist: xenial
python:
  - '2.7'
branches:
  only:
    - master
before_install:
  - sudo apt-get -y install graphviz
  - sudo apt-get -y install cpanminus
  - cpanm --local-lib=~/perl5 local::lib && eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
  - cpanm Module::Build
install:
  - pip install -r model-desc/reqs.txt
  - pushd make-model
  - perl Build.PL
  - yes | ./Build installdeps --cpan_client cpanm
  - "./Build test --verbose"
  - ls -lR .
  - "./Build install"
  - "./Build realclean"
script:
  - popd
  - pushd model-desc
  - pytest && cp icdc-model.yml icdc-model-props.yml ../docs/model-desc && model-tool -g ../docs/model-desc/icdc-model.svg ../docs/model-desc/icdc-model.yml ../docs/model-desc/icdc-model-props.yml
  - rm -rf __pycache__
  - rm MDFValidate/*.pyc

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  target_branch: master
  keep_history: true
  verbose: true
  on:
    branch: master
